{% extends 'base.html' %}

{% block head %}
<title>SplitWise</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Splitwise</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no users, please add users</h4>
    {% else %}
    <table>
        <tr>
            <th>Username</th>
            <th>Owes Total:</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task[0]}}</td>
                <td>{{ task[1] }}</td>
                <td>
                    <a href="/delete/{{task[0]}}">Delete</a>     
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <p>Please enter user name and email</p>
        <form action="/" method="POST">
            <input type="text" name="name" id="name" value="Name" required>
            <input type="email" name="email" id="email" value="Email" >
            <input type="submit" value="Add User">
        </form>
    </div>
</div>
<div class="content">
    <h1 style="text-align: center">Add Expense</h1>
    

    <div class="form">
        <p>Lender | Borrower | Amount Owed</p>
        <form action="/add" method="POST">
            <input type="text" name="lender" id="lender" value="lender" required>
            <input type="text" name="borrower" id="borrower" value="borrower" required>
            <input type="text" name="amount" id="" value="amount" >
            <input type="submit" value="Add Transaction">
        </form>
    </div>
</div>
<div class="content">
    <h1 style="text-align: center">Add Payment</h1>
   
    <div class="form">
        <p>Payer | Reciever | Payment</p>
        <form action="/pay" method="POST">
            
            <input type="text" name="borrower" id="borrower" value="payer" required>
            <input type="text" name="lender" id="lender" value="reciever" required>
            <input type="text" name="amount" id="" value="amount" >
            <input type="submit" value="Add Payment">
            
        </form>
    </div>
</div>
{% endblock %}